<div class="row">
    <div class="col-md-5">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Employee Name</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {{#each employees}}
                <tr>
                    <th scope="row">{{dataValues.id}}</th>
                    <td>
                        <p id="emp_name">{{dataValues.Name}}</p>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {{#each jobs}}
                <tr>
                    <th scope="row">{{dataValues.id}}</th>
                    <td>
                        <p id="emp_name">{{dataValues.location}}</p>
                    </td>
                </tr>

                {{/each}}
            </tbody>
        </table>
    </div>


    <div class="col-md-2">
        <div class="container ">
            {{#each jobs}}
            <div class="row">
                <button type="button" class="btn btn-primary mt-2 mb-4 get-map"
                    data-id="{{dataValues.id}}" data-toggle="modal" data-target="#myModal"> Done!</button>
            </div>
            {{/each}}
        </div>
    </div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">

        <div id='map' class='map' style='width: 400px; height: 300px;'></div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



</div>
</div>