<div class="row">
    <div class="col-md-5">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Employee Name</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {{#each employees}}
                <tr>
                    <th scope="row">{{dataValues.id}}</th>
                    <td>
                        <p id="emp_name">{{dataValues.Name}}</p>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {{#each jobs}}
                <tr>
                    <th scope="row">{{dataValues.id}}</th>
                    <td>
                        <p class = "d-inline" id="emp_name">{{dataValues.location}}</p>
                        <button type="button" class="d-inline float-right btn btn-success get-map" style="margin:0; padding:0;"
                            data-id="{{dataValues.id}}" data-toggle="modal" data-target="#myModal"> Map</button>
                    </td>
                </tr>

                {{/each}}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog" style = "margin-right:200px">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                    <div id='map' class='map' style=' height:700px; width:700px; margin:0; padding:0;'></div>
            </div>

        </div>
    </div>



</div>
</div>