<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Client Name</th>
            <th scope="col">Location</th>
            <th scope="col">Estimated Completion time</th>
        </tr>
    </thead>
    <tbody id="tbody">
        {{#each jobs}}
        {{#if dataValues.active}}
        <tr>
            <th scope="row">{{dataValues.id}}</th>
            <td>
                <p id="client_name">{{dataValues.client_name}}.</p>
            </td>
            <td id="location">{{dataValues.location}}.</td>
        </tr>
        {{/if}}
        {{/each}}
    </tbody>
</table>
<br>
<br>
<!-- post form in order to add job once created-->
<!--test-->
<form action="" method="POST" role="form">
    <div class="form-group">
        <label for="">Client Name</label>
        <input type="text" class="form-control" id="client_name" placeholder="">
    </div>

    <div class="form-group">
        <label for="">Location</label>
        <input type="text" class="form-control" id="Location" placeholder="">
    </div>
</form>
<br>
<div class="text-right">
    <button type="submit" class="btn btn-primary btn-md" id="add-btn">
        <span class="fa fa-fire"></span> Add Job</button>
</div>
<br><br>
<br>
<!-- Move Completed jobs here -->
<!-- Are jobs moved from the Manager view or here?-->
<h3>Completed Jobs</h3>
<br>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Client Name</th>
            <th scope="col">Location</th>
            <th scope="col">Completion</th>
        </tr>
    </thead>
    <tbody>
        {{!-- <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td></td>
            <td></td>
        </tr> --}}
        {{#each jobs}}
        {{#unless dataValues.active}}
        <tr>
            <th scope="row">{{dataValues.id}}</th>
            <td>
                <p id="client_name">{{dataValues.client_name}}.</p>
            </td>
            <td id="location">{{dataValues.location}}.</td>
        </tr>
        {{/unless}}
        {{/each}}
    </tbody>
</table>